body {
  display: flex;
  flex-flow: column;
  background-color: #d4b3e5;
  margin: 0;
}
body h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: red;
}
body header {
  display: flex;
  justify-content: flex-end;
}
body header nav {
  padding: 10px;
  margin-right: 20px;
}
body header nav ul li {
  list-style-type: none;
  padding: 10px;
}
body footer {
  display: flex;
  justify-content: center;
  background-color: red;
}
