body {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: 0;
}
body h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #f06c1f;
}
body p {
  font-family: Open Sans;
}
body div#conteneur {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f4ecf8;
  margin: 0 auto;
  padding: 30px 80px;
}
body header {
  display: flex;
  justify-content: flex-end;
  background-color: #630793;
}
body header nav {
  padding: 10px;
  margin-right: 20px;
}
body header nav ul li {
  list-style-type: none;
  padding: 10px;
}
body header nav ul li a {
  color: #f06c1f;
  font-family: Open Sans;
}
body footer {
  display: flex;
  justify-content: center;
  background-color: #630793;
}
