body {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: 0;
  height: 100vh;
}
body h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #f06c1f;
  margin: 0;
}
body p {
  font-family: Open Sans;
}
body div#conteneur {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 5;
  background-color: #f4ecf8;
  margin: 0 auto;
  padding: 70px 80px;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #630793;
  padding: 0px 20px;
  padding-top: 50px;
}
body header nav {
  margin-right: 20px;
}
body header nav ul {
  margin: 0;
}
body header nav ul li {
  list-style-type: none;
  padding: 20px;
  padding-bottom: 5px;
  transition: all 0.3s;
}
body header nav ul li a {
  color: #f06c1f;
  font-family: Open Sans;
  text-decoration: none;
  transition: all 0.3s;
}
body header nav ul li:hover {
  background-color: #51067a;
  padding-bottom: 20px;
  padding-top: 10px;
}
body header nav ul li:hover a {
  color: #FFF;
}
body footer {
  display: flex;
  justify-content: center;
  background-color: #630793;
}
body footer p {
  color: #FFF;
}
