@mauve: #630793;
@lilas: #f4ecf8;
@orange: #F06C1F;

@googleFont: 'Work Sans', sans-serif;
@openFont: Open Sans;


body {
	display: flex;
	flex-flow: column;
	align-content: center;
	margin: 0;
	height: 100vh;

	h1 {
		font-family: @googleFont;
		font-weight: bold;
		font-size: 45px;
		color: @orange;
		margin: 0;
	}

	p {
		font-family: @openFont;
	}

	div#conteneur {
		display: flex;
		flex-flow: column;
		align-items: center;
		flex-grow: 5;
		background-color: @lilas;
		margin: 0 auto;
		padding: 30px 80px;
		padding-top: 70px;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		background-color: @mauve;
		padding: 0px 20px;
		padding-top: 50px;

		nav {
			margin-right: 20px;
			ul {
				margin: 0;
				li {
					list-style-type: none;
					padding: 20px;
					padding-bottom: 5px;
					a {
						color: @orange;
						font-family: @openFont;
						text-decoration: none;
					}
				}
			}
		}
	}

	footer {
		display: flex;
		justify-content: center;
		background-color: @mauve;
		p {
			color: #FFF;
		}
	}

}